body {
    margin: 0px;
}

body::-webkit-scrollbar {
    display: none;
}

:root {
    --theme-color: linear-gradient(to left, rgb(84, 2, 77), rgb(187, 6, 78));
}

header {
    height: 100dvh;
    background-image: url(dost.jpeg);
    background-position: center;
    background-size: cover;
}

footer div ol li a:hover {
    text-decoration: underline;
}

.image-div {
    display: flex;
    gap: 2dvw;
    align-items: center;
}

.image-div .location h3 {
    color: rgb(215, 215, 215);
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(16px, 3dvw, 18px);
    text-shadow: 2px 2px 2px black, 2px -2px 2px black;
    margin: 0px;
}

header nav {
    display: flex;
    justify-content: space-between;
}

header nav .lgimg {
    margin: 10px;
    border-radius: 50px;
    height: clamp(35px, 5dvw, 55px);
    width: clamp(35px, 5dvw, 55px);
    box-shadow: 0px 0px 10px rgba(92, 212, 212, 0.521);
    transition: all 0.1s ease;
}

header nav .lgimg:hover {
    transform: scale(1.1);
}

header nav ol {
    display: flex;
    list-style: none;
    gap: 10px;
    margin: 0px;
    padding: 2px 0px;
    padding-right: 2dvw;
    padding-left: 5dvw;
    height: fit-content;
    background: linear-gradient(to left, rgb(77, 1, 49), rgb(142, 0, 99));
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 13% 100%);
}

header nav ol li:has(.onlive) {
    background-color: orange;
}

header nav ol li {
    position: relative;
    height: fit-content;
    padding: 3px 5px;
    border-radius: 20px;
    overflow: hidden;
}

header nav ol li::after {
    content: '';
    position: absolute;
    background: linear-gradient(to right, rgb(77, 227, 250), violet);
    height: 1.5px;
    width: 0%;
    bottom: 0px;
    left: 0px;
    transition: all 0.5s linear;
    border-radius: 20px;
}

header nav ol li:hover::after {
    width: 100%;
}

header nav ol li a {
    font-size: clamp(10px, 2dvw, 15px);
    font-family: 'Trebuchet MS';
    text-decoration: none;
    color: rgb(216, 249, 255);
    text-shadow: 1px 1px 3px rgb(0, 0, 0), -1px -1px 3px rgb(9, 9, 9);
}

.logoanimation {
    border-radius: 50px;
    height: clamp(35px, 5dvw, 55px);
    width: clamp(35px, 5dvw, 55px);
    transform: scale(5);
    box-shadow: 0px 0px 10px rgba(92, 212, 212, 0.521);
    position: absolute;
    top: 50%;
    left: 50%;
}

.logobganimation {
    backdrop-filter: blur(20px);
    position: absolute;
    inset: 0px;
    z-index: 2;
}

.menubar {
    display: none;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

header section:nth-of-type(1) {
    position: relative;
    margin-top: 30dvh;
    margin-left: 5dvw;
    width: fit-content;
    text-align: center;
}

header section:nth-of-type(1) h1 {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: transparent;
    background: linear-gradient(rgb(248, 159, 25), rgb(239, 205, 37));
    -webkit-background-clip: text;
    font-size: clamp(25px, 3dvw, 35px);
    margin: 0px;
    padding: 0px;
    letter-spacing: 1.5px;
}

header section:nth-of-type(1) h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: transparent;
    background: linear-gradient(rgb(254, 253, 252), rgb(252, 249, 249));
    -webkit-background-clip: text;
    text-shadow: 1px 1px 5px rgba(78, 78, 78, 0.788);
    -webkit-text-stroke: 0.2px black;
    font-size: clamp(15px, 2dvw, 18px);
}

header section:nth-of-type(2) {
    position: relative;
    margin-top: 10dvw;
    margin-left: 5dvw;
    height: 70px;
    width: clamp(300px, 30dvw, 1000px);
}

header section:nth-of-type(2) p {
    width: fit-content;
    color: white;
    font-family: sans-serif;
    font-size: clamp(14px, 2dvw, 15px);
}

header section:nth-of-type(2) button {
    position: absolute;
    bottom: 0px;
    right: 0px;
    border-radius: 10px;
    background: var(--theme-color);
    border: none;
    font-size: clamp(10px, 1dvw, 11px);
    color: purple;
    height: clamp(25px, 7dvw, 30px);
    width: clamp(75px, 7dvw, 130px);
    text-align: center;
    overflow: hidden;
    box-shadow: 3px 3px 10px black;
}

header section:nth-of-type(2) button::after {
    content: '';
    position: absolute;
    top: 0%;
    left: -20%;
    height: 100%;
    width: 30px;
    background: linear-gradient(to left, rgba(128, 128, 128, 0.479), transparent);
    transform: skew(-20deg);
    animation: btnshadow 2s linear infinite;
}

@keyframes btnshadow {
    0% {}

    30% {
        left: 120%;
    }

    100% {
        left: 120%;
    }
}

#swipe {
    background-color: transparent;
    border: none;
    color: var(--theme-color);
    font-size: clamp(10px, 1dvw, 11px);
    position: fixed;
    left: 49%;
    bottom: 2%;
    animation: swipingtext 1s infinite;
}

@keyframes swipingtext {
    from {}

    to {
        transform: translateY(10px);
    }
}

main {
    height: 100dvh;
}

.floating-logo {
    position: fixed;
    bottom: 2%;
    right: 2%;
    background-color: rgb(255, 255, 255);
    color: rgb(24, 177, 58);
    border: 50%;
    width: 40px;
    transition: width 0.5s linear;
    overflow: hidden;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.floating-logo a {
    color: rgb(24, 177, 58);
}

.floating-logo:hover {
    cursor: pointer;
}

aside {
    position: absolute;
    inset: 0%;
    background-color: rgba(0, 0, 0, 0.484);
    visibility: hidden;
}

aside ol {
    z-index: 2;
    display: flex;
    flex-direction: column;
    width: 50dvw;
    backdrop-filter: blur(10px);
    list-style: none;
    position: fixed;
    right: -100px;
    top: 0px;
    bottom: 0px;
    margin: 0px;
    padding: 0px;
    transition: right 0.5s linear;
}

aside ol li {
    border-bottom: 1px solid gray;
    padding: 20px;
}

aside ol a {
    font-size: clamp(10px, 2dvw, 15px);
    font-family: 'Trebuchet MS';
    text-decoration: none;
    color: white;
}

.star {
    height: 5px;
    width: 5px;
    background-color: white;
    clip-path: polygon(50% 0%, 65% 35%, 100% 50%, 65% 65%, 50% 100%, 35% 65%, 0% 50%, 35% 35%);
    position: absolute;
}

.shake {
    animation: shaking 1s linear infinite;
}

@keyframes shaking {
    50% {
        transform: rotate(20deg);
    }
}


a {
    color: white;
    text-decoration: none;
}
main {
    display: grid;
    padding: 20px;
    grid-template-columns: 1fr 1fr;
    height: 100dvh;
}
.input-field {
    background: linear-gradient(30deg, rgb(243, 242, 242), white, rgb(237, 236, 236));
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    align-self: center;
    padding: 30px;
    padding-top: 15px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(239, 238, 238, 0.772), -3px -3px 15px rgba(240, 240, 240, 0.84);
    border: 1px solid rgb(96, 1, 49);
    position: relative;
}

.input-field button {
    margin-top: 20px;
    border-radius: 10px;
    background: var(--theme-color);
    border: none;
    font-size: clamp(10px, 1dvw, 11px);
    color: white;
    position: relative;
    height: clamp(25px, 7dvw, 30px);
    width: clamp(75px, 7dvw, 130px);
    overflow: hidden;
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 3px black;
    cursor: pointer;
}

.input-field button::after {
    content: '';
    position: absolute;
    top: 0%;
    left: -20%;
    height: 100%;
    width: 30px;
    background: linear-gradient(to left, rgba(128, 128, 128, 0.479), transparent);
    transform: skew(-20deg);
    animation: btnshadow 2s linear infinite;
}

legend {
    background: linear-gradient(to left, rgb(84, 2, 77), rgb(187, 6, 78));
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 6px 10px;
    border-radius: 50%;
}

#main {
    background: url(artboard\ edited.jpg);
    background-size: cover;
    background-position: center;
}

.input-field .row {
    display: flex;
    gap: 20px;
    margin: 20px 0px;
}

.input-bar {
    height: fit-content;
    position: relative;
    border: 1px solid black;
    width: fit-content;
    border-radius: 5px;
    padding: 3px 5px;
}

.input-bar input {
    border: none;
    outline: none;
    padding: 5px 10px;
    width: 150px;
    background-color: transparent;
}

.input-bar:focus-within {
    border-color: rgb(172, 5, 139);
}

.input-bar input:focus~label,
.input-bar input:not(:placeholder-shown)~label,
.input-bar textarea:focus~label,
.input-bar textarea:not(:placeholder-shown)~label {
    top: -7px;
    color: rgb(139, 4, 139);
}

.input-bar:has(input:not(:placeholder-shown)) {
    border-color: rgb(172, 5, 139);
}

.input-bar:has(input[type="date"]:not(:placeholder-shown)),
.input-bar:has(input[type="time"]:not(:placeholder-shown)) {
    border-color: rgb(2, 2, 2);
}

.input-bar:has(input[type="date"]:focus),
.input-bar:has(input[type="time"]:focus) {
    border-color: rgb(172, 5, 139);
}

.input-bar:has(input[type="date"]),
.input-bar:has(input[type="time"]) {
    margin-top: 15px;
}

.input-bar:has(input[type="date"]) label,
.input-bar:has(input[type="time"]) label {
    top: -22px;
    left: 0px;
    font-size: 13px;
    background-color: transparent;
}

.input-bar label {
    top: 10px;
    left: 10px;
    padding: 0px 3px;
    position: absolute;
    background-color: rgb(247, 247, 247);
    transition: top 0.2s ease;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
}

.input-bar:has(textarea) {
    flex-grow: 1;
    padding: 0px;
    margin: 0px;
    display: flex;
}

.row .input-bar textarea {
    padding: 3px;
    padding-left: 10px;
    flex-grow: 1;
    outline: none;
    border: none;
    border-radius: 10px;
}

.sliding div::before {
    content: '';
    position: absolute;
    height: 45px;
    width: 45px;
    left: -25px;
}

.sliding div:nth-of-type(1)::before {
    background: url(b2.png);
    background-size: cover;
    height: 75px;
    width: 75px;
    left: -40px;
    top: 0%;
}

.sliding div:nth-of-type(2)::before {
    background: url(b1.jpg);
    mix-blend-mode: multiply;
    background-size: cover;
    height: 50px;
    width: 50px;
    top: 14%;
}

.sliding div:nth-of-type(3)::before {
    background: url(b4.jpg);
    background-size: cover;
}

.sliding div:nth-of-type(4)::before {
    background: url(b3.png);
    background-size: cover;
}

.sliding {
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 40px;
    gap: 20px;
}

.sliding span {
    font-weight: bold;
    letter-spacing: 2px;
}

.sliding div {
    width: 150px;
    position: relative;
    padding: 10px;
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 25px;
    border-radius: 10px;
    height: fit-content;
    background: linear-gradient(to right, rgb(243, 243, 243), rgba(255, 255, 255, 0.557), rgb(245, 245, 245));
    box-shadow: 1px 1px 2px rgb(164, 163, 163);
    animation: slide;
    animation-timeline: view(0%);
}

@keyframes slide {
    0% {
        transform: translateX(-300px);
    }

    50% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(0px);
    }
}

.sliding div p {
    margin: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 10px;

}

footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 6dvw;
    padding: 6dvw;
    background: linear-gradient(to left, #351038, rgb(79, 1, 49));
    color: white;
}

footer div:nth-of-type(1) h1,
footer div:nth-of-type(2) h1,
footer div:nth-of-type(3) h1,
footer div:nth-of-type(4) h1 {
    margin: 0px;
    margin-bottom: 15px;
    padding: 3px 5px;
    border-radius: 10px;
    font-size: clamp(11px, 2dvw, 18px);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: fit-content;
    background: linear-gradient(to left, rgb(230, 91, 114), transparent);
}

footer div:nth-of-type(1) h2 {
    margin: 0px;
    font-size: clamp(8px, 2dvw, 14px);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

footer div p {
    font-size: clamp(8px, 1dvw, 12px);
    font-family: Arial, Helvetica, sans-serif;
}


footer div ol {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

footer div ol li a {
    font-size: clamp(8px, 1dvw, 12px);
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width:500px) {
    header section:nth-of-type(1) {
        position: relative;
        margin-top: 13dvh;
        display: flex;
        flex-direction: column;
        justify-self: center;
    }

    footer {
        grid-template-columns: 1fr;
        row-gap: 40px;
    }

    .menubar {
        display: block;
    }

    header nav ol {
        display: none;
    }

    header section:nth-of-type(1) {
        margin-left: 0px;
    }

    header section:nth-of-type(1) h1,
    header section:nth-of-type(1) h2 {
        -webkit-text-stroke: 0%;
    }

    header section:nth-of-type(2) {
        margin-top: 55vh;
        width: 90dvw;
    }

    header section:nth-of-type(2) button {
        left: 40%;
    }

    .input-field .row {
        flex-direction: column;

    }

    main {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 1fr;
        position: relative;
        height: 150dvh;
    }
    .sliding {
        flex-wrap: wrap;
        row-gap: 40px;
    }

    textarea {
        width: 167px;
    }

}
